{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <div class="form-group">
                        <label>Vendor Name</label>
                        <input type="text" id="vendorname" name="vendorname">
                        <input type="submit" id="submit" name='submit'>
                </div>
                <table class='table' border=5 >
                    <thead> <td>Vendor</td> <td>Quality Rating</td> <td>Service Rating</td><td>Delivery Rating</td><td>Overall</td></thead>
                        {% for i in records %}
                        <tr>
                            <td> {{i.Vendor}} 
                            <td> {{i.QualityRating}}
                            <td> {{i.ServiceRating}} 
                            <td> {{i.DeliveryRating}}
                            <td> {{i.OverallRating}}
                        </tr>
                        {% endfor %}
                        </tr>
                </table>
            </fieldset>       
    </div>
{% endblock content %}
